/* BlogList.css */

.blog-list-container {
  padding: 20px;
}

.blog-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-list-content a {
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.blog-list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.blog-list {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 20%;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 20px;

}

.scroll-button {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: -15px;
}

.scroll-button.right {
  right: -15px;
}

.column-layout .blog-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-layout .blog-list {
  align-items: center;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* 
.blog-list-container {
  padding: 20px;
}

.blog-list-content{
  display: flex;
  justify-content: space-between;
}

.blog-list-content h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.blog-list-content a{
  margin-bottom: 20px;
  padding-top: 30px;
}

.blog-list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-list {
  display: flex;
  overflow-x: auto;
  justify-content: space-around;
  gap: 10%;
  background-color: hsl(0, 0%, 97%);
  padding: 20px;
  border: 1px solid hsl(0, 0%, 91%);
  border-radius: 5px;
  padding-bottom: 20px;
  max-width: 80%;
}

.scroll-button {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 100px;
}

.scroll-button.right {
  right: 100px;
} */