/* BlogDetail.css */
.blog-detail {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.blog-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.blog-meta {
  margin-bottom: 20px;
  color: #777;
}

.blog-author,
.blog-date {
  margin-right: 10px;
}

.blog-detail-image img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
}

.blog-content {
  line-height: 1.6;
  color: #444;
}

.blog-content p {
  margin-bottom: 1em;
}

.blog-content img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
}

.blogDetail .blog-list-content {
  display: none;
}

.blogDetail .scroll-button {
  display: none;
}
