/* Container for centering the login form */
.limiter {
    width: 100%;
    margin: 0 auto;
}

/* Container for the login form */
.container-login100 {
    background-image: url('/public/img/loginbackground.jpg');
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.600);
}

/* Wrapper for the login form */
.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 55px 20px;
    /* background: linear-gradient(to bottom, #ffb5b5, #ff5d9e); */
    /* background-color: #ffb5b5; */
    /*#ebd5d5*/
    background: linear-gradient(to bottom, #ffcece, #ffc1c8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
}

/* Login form */
.login100-form {
    width: 100%;
}

/* .login100-form-logo {
    font-size: 60px;
    color: #333;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
} */

.login100-form-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
}

.login100-form-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Input validation */
.validate-input {
    position: relative;
}

/* Input wrapper */
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 30px;
}

/* Input field */
.input100 {
    font: 18px/1.2 Poppins-Regular;
    /* color: #407088; */
    display: block;
    width: 100%;
    height: 45px;
    background: #fff;
    padding: 0 5px 0 38px;
    border-radius: 10px;
}

/* Remove default input styles */
input {
    outline: none;
    border: none;
}

/* Input placeholder styles */
/* .input100::placeholder {
    font-size: 18px;
} */

/* Input focus effect */
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* Checkbox container */
.contact100-form-checkbox {
    padding: 5px 0 35px 5px;
    display: flex;
}

/* Checkbox label */
.label-checkbox100 {
    font: 18px/1.2 Poppins-Regular;
    color: #240747;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

/* Container for the login button */
.container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* Added gap between buttons */
}

/* Login button */
.login100-form-btn {
    gap: 10px;
    font: 18px/1.2 Poppins-Medium;
    color: #333;
    background: #f5e1da;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.login100-form-btn:hover {
    background: #ffb5b5;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Google sign-in button */
.google-btn {
    font: 18px/1.2 Poppins-Medium;
    /* color: #fff;
    background: #4285f4; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.google-btn i {
    margin-right: 10px;
    font-size: 20px;
}

.google-btn:hover {
    background: #357ae8;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Text center utility class */
.text-center {
    text-align: center;
}

/* Padding top utility class */
.p-t-90 {
    padding-top: 10px;
}

/* Text styles */
.txt1 {
    font: 18px/1.5 Poppins-Regular;
    color: #f67280;
}

/* Remove default button styles */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

/* Login form title */
.login100-form-title {
    font: 30px/1.2 Poppins-Medium;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.p-b-34 {
    padding-bottom: 34px;
}

.p-t-27 {
    padding-top: 27px;
}

/* Checkbox and radio input styles */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.switchregister {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.switchregister p {
    font: 18px/1.2 Poppins-Regular;
    color: #777;
    margin-right: 10px;
    width: 50%;
    text-align: right;
}

.switchregister a {
    font: 18px/1.2 Poppins-Regular;
    color: #ff6f3c;
    text-decoration: none;
    padding-bottom: 2px;
    transition: color 0.3s ease;
    width: 50%;
}

.switchregister a:hover {
    color: #ffeb3b;
}

.error-message-container {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}